body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f8f8f8;
}

header {
    background: #d81b60;
    color: white;
    padding: 15px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 260px;
    object-fit: contain;
    background-color: #f2f2f2;
    border-radius: 6px;
}

button {
    background: #d81b60;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}
/* Mobile view */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    header h1 {
        font-size: 22px;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .product img {
        height: 220px;
    }

    button {
        width: 100%;
        margin-top: 8px;
        font-size: 16px;
    }
}
.filters {
    margin: 20px 0;
    text-align: center;
}

.filters button {
    margin: 5px;
    padding: 8px 14px;
}
#searchBox {
    width: 98.5%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    margin-right: 0px;
}
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}
#toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1000;
}
#toast.show {
  opacity: 1;
}
.order-btn {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}
